<style type ="text/css">
		#sidebar {
          height: 100%
          padding: 15px;
          background-color: #C1D9DE;
          border-right: 1px solid #ddd;
          overflow-y: auto;
        }
		#map { height: 100%;
			   width:  100%;
              min-height: 500px;
             }
	 </style>
